/*            Author: Richard Myatt
              Date: 3 March 2019

              An example which is based on a modified version of a Snap.svg
              Animation Tutorial for Beginners at
              http://goinkscape.com/how-to-animate-icons-with-inkscape-and-snap-svg/.
*/

h1 {
  text-align: center;
  font-size: 25px;
}

#container {
  width: 75px;
  height: 75px;
  margin: 30px auto;
}

#notes {
  width: 450px;
  text-align: justify;
  margin: 0 auto;
}
