/*              Author: Richard Myatt
                Date: 1 March 2019

                An example which illustrates how transformations can be used
                based on a similar example in http://svg.dabbles.info/.
*/

body {
  background-color: #fff;
}

h1 {
  font-size: 25px;
}

h1, svg {
  margin-left: 20px;
}

#notes {
  width: 450px;
  text-align: justify;
  margin-left: 20px;
}
